<h1>Listing newsfeeds</h1>

<table>
  <tr>
    <th>Descriptions</th>
    <th>Time</th>
  </tr>

<% @newsfeeds.each do |newsfeed| %>
  <tr>
    <td><%=h newsfeed.descriptions %></td>
    <td><%=h newsfeed.time %></td>
    <td><%= link_to 'Show', newsfeed %></td>
    <td><%= link_to 'Edit', edit_newsfeed_path(newsfeed) %></td>
    <td><%= link_to 'Destroy', newsfeed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New newsfeed', new_newsfeed_path %>