<div id="navcontainer">
					<ul id="groupnav">
						<li>My Groups
						  <ul class="sub">
							 <% current_user.groups.each do |group| %>
								<% @membership = Membership.find_by_user_id_and_group_id(current_user.id, group.id) %>
								<% if @membership%>
									<% if @membership.established%>
										<li><%= link_to group.name, group %></li>
									<% end %>
								<% end %>
							 <% end %>
							<li><%= link_to "All Groups", groups_path %></li>
						  </ul>
						</li>
					</ul>
					<ul id="usercontrol">
						<li>User
							<ul>
								<li><%= link_to 'Home', current_user%></li>
								<li><%= link_to 'Settings', edit_user_path(current_user)%></li>
								<li><%= link_to 'Logout', logout_path%></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="content-container">
			<div id="content-container2">
				<div id="content-container3">
					<div id="content">
						<div id="menu">
							<ul>
								<li><%= link_to 'Home', group_path(@group) %></li>
								<li><%= link_to 'To-Do List', group_todos_path(@group) %></li>
								<li><%= link_to 'Files', group_uploads_path(@group) %></li>
								<li><%= link_to 'Posts', group_posts_path(@group) %></li>
								<li><%= link_to 'Conference', group_conference_path(@group) %></li>
								<li><%= link_to 'Members', group_users_path(@group)%></li>
								<% if Membership.find_by_user_id_and_group_id(current_user.id, @group.id).permission == 0 %>
									<li><%= link_to 'Settings', edit_group_path(@group)%></li>
								<% else %>
									<li><%= link_to 'Settings', '#' %></li>
								<% end %>
							</ul>
						</div>
						<div id="maincontent">