<%= render :file => 'users/header.html.erb' %>

<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%=h group.name %></td>
    <td><%=h group.description %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><% if group.users.member?(User.find(session[:user_id]))%>
		<%= link_to 'Unjoin', :id => group.id, :controller => "groups", :action => "unjoin"%>
		<% else %>
		<%= link_to 'Join', :id => group.id, :controller => "groups", :action => "join"%>
		<% end %></td>
	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New group', new_group_path %>
<%= link_to 'Back', @user %>