<p>
  <b>SeshID:</b>
  <%=h session[:user_id] %>
</p>
<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @group.description %>
</p>

<p>
  <%= link_to 'To-Do List', todos_path %>
</p>

<p>
  <%= link_to 'Files', uploads_path %>
</p>

<p>
  <%= link_to 'Posts', posts_path %>
</p>

<p>
  <%= link_to 'Permissions', permissions_path([@group.permissions]) %>
</p>

<p>
  <%= link_to 'Chat Room', "/chats?send_to_channel=" << @group.id.to_s << "&listen_to_channel=" << @group.id.to_s %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>