<%= render :file => 'groups/header.html.erb' %>

<h1>Members</h1>

<table>
  <tr>
    <th>Name</th>
	<th>Position</th>
  </tr>

<% for user in @group.users %>
  <tr>
    <td><%=h user.name %></td>
	<td>
		<% if @admin %>
		<%=h "Administrator" %>
		<% else %>
		<%=h "User"%>
		<% end %>
	</td>
	<% if @admin %>
		<td><%= link_to 'Remove User', [@group, Membership.find_by_user_id_and_group_id(user.id, @group.id)], :confirm => 'Are you sure?', :method => :delete %></td>
		<td>Make Administrator</td>
	<% end %>
	
  </tr>
<% end %>
</table>
