<%= render :file => 'users/header.html.erb' %>
<div id="userphoto">
	<img src = <%=h current_user.photo.url%> height="200" width="200"></img>
</div>
<div id="usersettings">
	<%=h current_user.username %>
	<br/>
	<%=h link_to('User Settings', edit_user_path(current_user)) %>
</div>
<div id="user-maincontent-box">
	<div id="user-maincontent-head">
		<strong>News Feed</strong>
	</div>
	<div id="user-maincontent-body">
  <% @all_newsfeeds = User.findNewsFeed(current_user.id) %>
  
  <% @all_newsfeeds.first(20).each do |newsfeed| %>
	<div id="newsfeed"><%= newsfeed.group.name %>:
	<%=h link_to(newsfeed.descriptions, newsfeed.link) %>
	</div>
  <% end %>
  </div>
</div>
<div id="user-maincontent-box">
	<div id="user-maincontent-head">
		<strong>Invitations</strong>
	</div>
	<div id="user-maincontent-body">
		<table>
			<tr>
				<th>Group Name</th>
				<th>Action</th>
			</tr>
  			<% @memberships = Membership.find_all_by_user_id(current_user.id) %>
  			<% for @membership in @memberships%>
				<% if !@membership.established && @membership.invitation%>
					<% @group = Group.find_by_id(@membership.group_id)%>
					<td><%=h @group.name%></td>
					<td><%= link_to 'Accept Invitation', :controller => "memberships", :action => "confirm", :id => @membership.id, :group_id => @group.id %></td>
					<td><%= link_to 'Decline Invitation', [@group, @membership], :confirm => 'Are you sure?', :method => :delete %></td>
				<% end %>
			<% end %>
	 	</table>
	</div>
</div>

<div id="user-maincontent-box">
	<div id="user-maincontent-head">
		<strong>Messages</strong>
	</div>
	<div id="user-maincontent-body">
		<% @convo = Conversation.find(:all) %>
		<% @convo.each do |conv| %>
		  <div id="conversation">
		  <div class="conversation-header">From: <%=h conv.origin %> (<%=h conv.created_at.strftime("%I:%M %p - %m/%d/%y") %>)</div>
		    <div class="conversation-body"><%= simple_format(h(conv.message)) %></div>
		  </div>
		<div id="maincontent-line"></div>
		<% end %>
	</div>
</div>
