<h1>Editing userlist</h1>

<% form_for(@userlist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uid %><br />
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :permissionid %><br />
    <%= f.text_field :permissionid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @userlist %> |
<%= link_to 'Back', userlists_path %>