<%= render :file => 'groups/header.html.erb' %>
<div id="maincontent-box">
	<div id="maincontent-head">
		<strong><%=h @group.name %> - To-Do List</strong>
	</div>
	<div id="maincontent-body">
	<div class="todonew">
		<% form_for([@group, Todo.new]) do |f| %>
		  <%= f.error_messages %>

		  <p>
			<%= f.label :task %><br />
			<%= f.text_field :task %>
		  </p>
		  <p>
			<%= f.label :duedate %><br />
			<%= f.date_select :duedate %>
		  </p>
		  <p>
			<%= f.submit 'Create' %>
		  </p>
		<% end %>
	</div>
	<div class="todonewshow">New Task</div>
	</div>
</div>
<div id="maincontent-box">
	<div id="maincontent-body">
		<div id="tablecontainerheader">
			<div id="tablerow">
				<div id="tablecol"><strong>Task</strong></div>
				<div id="tablecol"><strong>Status</strong></div>
				<div id="tablecol"><strong>Due Date</strong></div>
				<div id="tablecol"><strong>Added By</strong></div>
				<div id="tablecol"><strong>Finished By</strong></div>
				<div id="tablecol"></div>
				<div id="tablecol"></div>
				<div id="tablecol"></div>
			</div>
		</div>
		<div id="tablecontainermain">
			<% @group.todos.reverse.each do |todo| %>
			  <div id="tablerow">
				<div id="tablecol"><%=h todo.task %></div>
				<div id="tablecol">
				<%= if todo.finished
						"finished"
					elsif todo.duedate < Date.today
						"expired"
					else
						"in progress"
					end %></div>
				<div id="tablecol"><%=h todo.duedate.strftime("%m/%d/%y") %></div>
				<div id="tablecol"><%=h User.find(todo.user_id).username %></div>
				<% if todo.finished_by != nil %>
					<div id="tablecol"><%=h User.find(todo.finished_by).username %></div>
					<% else %>
					<div id="tablecol"></div>
				<% end %>
				<div id="tablecol"><%= if todo.finished
						link_to 'unmark finished', :controller => "todos",
										:action => "unfinish", :id => todo.id, :group_id => @group.id
					else
						link_to 'mark finished', :controller => "todos",
										:action => "finish", :id => todo.id, :group_id => @group.id
					end %></div>
				<div id="tablecol"><%= link_to 'edit', edit_group_todo_path(@group, todo) %></div>
				<div id="tablecol"><%= link_to 'delete', [@group, todo], :confirm => 'Are you sure?', :method => :delete %></div>
			  </div>
			<% end %>
		</div>
	</div>
</div>

</div>
