<%= render :file => 'groups/header.html.erb' %>
<div id="maincontent-box">
	<div id="maincontent-head">
		<strong><%=h @group.name %> - To-Do List</strong>
	</div>
	<div id="maincontent-body">
		<% form_for([@group, @todo]) do |f| %>
		  <%= f.error_messages %>

		  <p>
			<%= f.label :task %><br />
			<%= f.text_field :task %>
		  </p>
		  <p>
			<%= f.label :duedate %><br />
			<%= f.date_select :duedate %>
		  </p>
		  <p>
			<%= f.submit 'Create' %>
		  </p>
		<% end %>
		<br/>
		<%= link_to 'Back', group_todos_path(@group) %>
	</div>
</div>