<%= render :file => 'users/header.html.erb' %>

<p>
  <b>Task:</b>
  <%=h @todo.task %>
</p>

<p>
  <b>Duedate:</b>
  <%=h @todo.duedate %>
</p>

<p>
  <b>Finished:</b>
  <%=h @todo.finished %>
</p>


<%= link_to 'Edit', edit_group_todo_path(@group, @todo) %> |
<%= link_to 'Back', group_todos_path(@group) %>