<%= render :file => 'groups/header.html.erb' %>

<h1>Editing post</h1>

<% form_for [@group,@post] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@group, @post] %> |
<%= link_to 'Back', group_posts_path(@group) %>