<%= render :file => 'groups/header.html.erb' %>
<div id="maincontent-box">
	<div id="maincontent-head">
		<strong><%=h @group.name %> - Posts</strong>
	</div>
	<div id="maincontent-body">
		<div class="postnew">
			<% form_for ([@group, Post.new]) do |f| %>
			  <%= f.error_messages %>

			  <p>
				<%= f.label :title %><br />
				<%= f.text_field :title %>
			  </p>
			  <p>
				<%= f.label :body %><br />
				<%= f.text_area :body %>
			  </p>
			  <p>
				<%= f.submit 'Create' %>
			  </p>
			<% end %>
		</div>
		<div class="postnewshow">Create a New Post</div>
	</div>
</div>
<div id="allposts">
<%= render :partial => @posts.reverse %>
</div>



