<%= render :file => 'groups/header.html.erb' %>
<div id="maincontent-box">
	<div id="maincontent-head">
		<strong><%=h @group.name %> - Posts</strong>
	</div>
	<div id="maincontent-body">
		<%= render :partial => @posts %>

		<%= link_to 'New post', new_group_post_path(@group) %>
		<%= link_to 'Back', @group %>
	</div>
</div>