<%= render :file => 'groups/header.html.erb' %>

<%= render :partial => @post %>

<p>
	<%= link_to 'Edit', edit_group_post_path(@group,@post) %> |
	<% if @post.user_id == session[:user_id]%>
		<%= link_to 'Destroy', [@group, @post], :method => :delete, :confirm => "Are you sure?" %> |
		<% end %>	
	<%= link_to 'See All Posts', group_posts_path(@group) %>
</p>

<h2> Comments </h2>
<div id="comments">
	<%= render :partial => @post.comments %>
</div>

<% form_for [@post, Comment.new] do |f| %>
	<p>
		<%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>