<%= render :file => 'groups/header.html.erb' %>

<h1>Listing uploads for <%=h @group.name %></h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Description</th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%=h upload.filename %></td>
    <td><%=h upload.description %></td>
	<td><%= link_to 'Edit', edit_group_upload_path(@group, upload) %></td>
    <td><%= link_to 'Download', upload.attachment.url%></td>
    <td><%= link_to 'Destroy', [@group, upload], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', @group %>
<%= link_to 'New upload', new_group_upload_path(@group) %>
