<%= render :file => 'groups/header.html.erb' %>

<p>
  <b>Filename:</b>
  <%=h @upload.filename %>
</p>

<p>
  <b>Description:</b>
  <%=h @upload.description %>
</p>


<%= link_to 'Edit', edit_group_upload_path(@group, @upload) %> |
<%= link_to 'Back', group_uploads_path(@group) %>